%p.normal
  %label{ :for => "jabber_notifier_recipients" } Recipients
  %input.text#jabber_notifier_recipients{ :name => "notifiers[Jabber][recipients]", :type => "text", :value => config['recipients'] }

%h3 Jabber Server Configuration

- ["user", "pass", "host", "port"].each do |field|
  %p.normal
    %label{ :for => "jabber_notifier_#{field}" }= field.upcase
    %input.text{ :name => "notifiers[Jabber][#{field}]", :id => "jabber_notifier_#{field}" :value => config["#{field}"], :type => "text", :value => config["#{field}"] }
